/* App.css */
.App {
  text-align: center;
  margin: 20px;
  height: 10px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* MovieCard.css */
.movie-card {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px;
  width: 200px; 
  background-color: blueviolet;
}

.movie-poster {
  max-width: 200px; 
  height: 200px; 
  display: block; 
}


.filter {
  margin: 20px 0;
}
